.menuLabel {
  color: #b8afaf;
  font-size: 1.7rem;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: #fffefd;
  }
  &.active {
    color: #fffefd;
  }

  &.default {
    color: #b8afaf;
  }

  color: var(--color, #b8afaf);
}

.item {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  padding-left: var(--padding-left, 0);
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-size: 1.7rem;
  transform: var(--transform, rotate(0deg));
}

.subMenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 3s ease-out;

  &.active {
    max-height: 100vh;
  }

  &.close {
    transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 0vh;
  }
}
